<!--
<form method="post" action="">
	{{form.as_p}}
  <input type='submit' value="submit"/>
</form>
-->

<form method="post" action="">
  <div class="fieldWrapper">
    {% if form.name.errors %} name 有错 {% endif %}
    {{ form.name.errors }}
    <label for="{{ form.name.id_for_label }}">name:</label>
    {{ form.name }} {{form.cleaned_data.name}}
  </div>

  <div class="fieldWrapper">
    {% if form.title.errors %} author 有错 {% endif %}
    {{ form.title.errors }}
    <label for="{{ form.author.id_for_label }}">title:</label>
    {{ form.title }}
  </div>

  <div class="fieldWrapper">
    {% if form.birth_date.errors %} author 有错 {% endif %}
    {{ form.birth_date.errors }}
    <label for="{{ form.author.id_for_label }}">birth_date:</label>
    {{ form.birth_date }}
  </div>

  <input type='submit' value="submit"/>
</form>
